* {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    width: 80%;
    margin: 0 auto;
}

body {
    background: rgba(239, 235, 235, 0.34);
    max-height: 100vh;
    font-family: "Roboto", sans-serif;
}

.form-labell {
    display: none;
}

.form-control {
    background: transparent;
    outline: none;
}

.alert {
    margin-top: 30px;
}

.form-label {
    color: white;
    text-transform: capitalize;
    font-weight: 800;
    padding-bottom: 20px;
}

/*HERO*/

.hero {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-block {
    width: 350px;
    height: 398px;
    border: 1px solid rgba(128, 128, 128, 0.3);
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 2px;
    background: white;
    padding-bottom: 20px;

}
.hero-block img {
    margin: 30px 0;
}

.hero-block img {
    width: 204px;
    height: 68px;
    object-fit: cover;
}

.inputs {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 20px;

}
.inputs input {
    width: 258px;
    padding-left: 10px;
    height: 38px;
    border: 1px solid gray;
    border-radius: 3px;
    margin: 5px 0;
}
.inputs input::placeholder {
    font-size: 12px;
}
.login {
    width: 268px;
    height: 38px;
    border-radius: 3px;
    background: #0095F6;
    color: white;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}

.liners {
    display: flex;
    align-items: center;
    margin: 15px 0 20px 0;
}
.line {
    width: 104px;
    height: 1px;
    background: rgba(128, 128, 128, 0.6);
}
.liners h2 {
    color: gray;
    font-size: 16px;
    margin: 0 10px;
}

.logo {
    display: flex;
    align-items: center;
}
.logo a{
    color: #385185;
    font-size: 25px;
    margin-right: 5px;
    margin-top: 5px;
}
.logo h1 {


    color: #385185;
    font-size: 14px;
}

.password {
    font-size: 13px;
    color: gray;
}













